tkintermapview==1.29
fastapi==0.124.2
pydantic==2.12.5
requests==2.32.5
python-dotenv==1.2.1
SQLAlchemy==2.0.44
SQLAlchemy-Utils==0.42.0
psycopg2-binary==2.9.11
selenium==4.38.0
ttkbootstrap==1.19.2
tkintermapview==1.29
uvicorn==0.38.0
